<h1>Pesquisar Imóveis</h1>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Pesquisar por...">
      <span class="input-group-btn">
	<button class="btn btn-primary" type="button">Pesquisar</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Produtos</th>
    </tr>
  </thead>

  <tbody>
    <% @imovels.each do |imovel| %>
      <tr>
        <td><%= imovel.endereco %></td>
        <td><%= link_to 'Mostrar', imovel_path(imovel) %></td>
        <td><%= link_to 'Editar', edit_imovel_path(imovel) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar imóvel', new_imovel_path %>
